---
description: A minimalist client

---
<html lang="en-GB">
<head>
    <!-- -------------- External libraries  -------------- -->
    <!-- use go-debug.js when developing and go.js when deploying -->
    <script src="libs/gojs/go-debug.js"></script>
    <script src="libs/pgp/openpgp.min.js"></script>
    <script src="libs/jquery/jquery-3.5.1.min.js"></script>
    <script src="libs/chartjs/Chart.min.js"></script>
    <script src="libs/chartjs/samples/utils.js"></script>
    <link rel="stylesheet" href="libs/fontawesome-free-5.14.0-web/css/all.css"/>
    <script src="libs/ipfs/index.min.js"></script>

    <!-- -------------- Internal libraries  -------------- -->
    <script src="assets/js/client.js.bundle"></script>
    <link rel="stylesheet" href="assets/css/client.css?v="/>
    <link rel="stylesheet" href="assets/css/style.css?v="/>

    <!-- -------------- HTML Headers  -------------- -->
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <meta content="{{ page.description }}" name="description">
    <meta content="Bertrand Benjamin" name="author">
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <script>
        const restapi = localStorage.getItem("restapi") || "{{ site.restapi }}";
        const ipfsservice = localStorage.getItem("ipfsservice") || "{{ site.ipfsservice }}";
        const ipfsbrowser = localStorage.getItem("ipfsbrowser") || "{{ site.ipfsbrowser }}";
        const userKey = localStorage.getItem("userKey");
    </script>

</head>
<body onload="initBlockDiagram(); initStyle(); initSettings(); initChart(); initCratos(); loadPubKeys(); ">

<h1>Blockchain client </h1>
<p></p>
<ul>
    <li>Minimal static client</li>
    <li>Settings stored in the browser's local storage</li>
    <li>Rest API available <a href="#" target="_blank" id="summaryRestAPI">here</a></li>
    <li>Blockchain's Head on IPFS Explorer <a href="#" target="_blank" id="headIPFSExplorer">here</a></li>
    <li>Visit the <a href="{{site.url}}{{site.baseurl}}/docs/" target="_self">Documentation</a></li>
</ul>

{% include client/onboarding.html %}
{% include client/cratos.html %}
{% include client/transaction.html %}
{% include client/graphs.html %}
{% include client/settings.html %}

</body>

</html>