<html>
<head>
    <!-- -------------- External libraries  -------------- -->
    <!-- use go-debug.js when developing and go.js when deploying -->
    <script src="libs/gojs/go-debug.js"></script>
    <script src="libs/pgp/openpgp.min.js"></script>
    <script src="libs/jquery/jquery-3.5.1.min.js"></script>
    <script src="libs/chartjs/Chart.min.js"></script>
    <script src="libs/chartjs/samples/utils.js"></script>
    <link rel="stylesheet" href="libs/fontawesome-free-5.14.0-web/css/all.css"/>
    <script src="libs/ipfs/index.min.js" ></script>

    <!-- -------------- Internal libraries  -------------- -->
    <script src="main.js"></script>
    <script src="bundle.js"></script>

    <!-- -------------- HTML Headers  -------------- -->
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <meta content="{{ page.description }}" name="description">
    <meta content="Bertrand Benjamin" name="author">
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <script>
        const restapi = localStorage.getItem("restapi") || "{{ site.restapi }}";
        const ipfsservice = localStorage.getItem("ipfsservice") || "{{ site.ipfsservice }}";
        const ipfsbrowser = localStorage.getItem("ipfsbrowser") || "{{ site.ipfsbrowser }}";
        const userKey = localStorage.getItem("userKey");
    </script>

</head>
<body onload="initBlockDiagram(); initStyle(); initSettings(); initChart(); ">
<div class="container">
    <h2>Welcome to the Client Side.</h2>

    <div class="well">
        <p>I see you've got some numbers. Why not let me see them?</p>

        <div id="response">
        </div>
    </div>
</div>
<h1>Blockchain client </h1>
<p>
<ul>
    <li>Minimal static client</li>
    <li>Settings stored in the browser's local storage</li>
    <li>Rest API available <a href="#" target="_blank" id="summaryRestAPI">here</a></li>
</ul>

</p>
<button class="collapsible">OnBoarding</button>
<div class="contentCollapsible">
    <div class="panel">
        <label for="keygen">1 - (optional) create secure credentials using PGP</label>
        <form name="keyGen" id="keyGen">
            <input type="text" name="name" placeholder="name"/>
            <input type="text" name="comment" placeholder="comment"/>
            <input type="email" name="email" placeholder="email"/>
            <input type="password" name="passphrase" placeholder="passphrase"/>
            <input type="button" name="createKey" onClick="keygen()" value="Generate PGP Key pair"/>
        </form>
        <p>
            view on IPFS <a href="#" name="pubkeycid" id="pubkeycid" target="_blank"></a>
        </p>
        <label for="createAcc">2 - Register your credential to obtain a basic account</label>
        <form name="createAcc" id="createAcc">
            <textarea id="pubkey" rows="10" cols="72"> -----BEGIN PGP PUBLIC KEY BLOCK----- </textarea>
            <textarea id="privatekey" rows="10" cols="72">-----BEGIN PGP PRIVATE KEY BLOCK-----</textarea>
            <input type="button" id="savePrivateKey" onClick="savePrivateKey()" value="Create Account"/>
        </form>
        <label for="claim">3 - Request Citizenship to obtain more Rights</label>
        <form name="claim" id="claim">
            <input type="button" name="claimCitizen" onClick="citizenshipClaim()" value="Claim Citizenship"/>
        </form>
        <p>
        <ul>
            <li>Save your private key using your favourite secure tool - do not disclose</li>
            <li>Public key is stored on chain for signature validation of any content you may produce</li>
            <li>Use IPFS to access your public key. the IPFS cid is stored in chain and becomes your account
                identifier
            </li>
        </ul>
        </p>
    </div>
</div>


<button class="collapsible">Cratos</button>
<div class="contentCollapsible">
    <div class="panel">
        <label for="vote">1 - Vote</label>
        <p>With great power comes great responsibilities</p>
        <form name="vote" id="vote">
            <label for="role">I am</label>
            <select id="role" name="role">
                <option>Citizen</option>
            </select>
            <label for="role">and I wish to exercise my right to</label>
            <select id="permission" name="permission">
                <option id="VoteTransactionTax">Vote on transaction tax</option>
            </select>
            <input type="text" name="cratosMultiValue" placeholder="..."/>
            <input type="button" name="vote" onClick="vote()" value="Vote"/>

        </form>

        <label for="amend">2 - Create an Amendment </label>
        <p>
            <quote>plus l’homme consacrait de temps et de force à l’exercice de ses droits politiques, plus il se
                croyait
                libre
            </quote>
        </p>
        <form id="amend">
            <input type="text" id="amendmentSubjectMV" placeholder="..."/>
            <select id="ruleType" name="ruleType">
                <option id="VoteTransactionTax">Vote on transaction tax</option>
            </select>
            <input type="text" id="amendmentObjectMV" placeholder="..."/>

            <input type="button" name="amend" onClick="addRule()" value="Add Rule to Amendment"/>
            <div id="amendmentRuleSet"></div>
            <input type="button" name="amend" onClick="clearAmendment()" value="Reset Amendment"/>
            <input type="button" name="amend" onClick="sendAmendment()" value="Propose Amendment"/>
        </form>
    </div>
</div>

<button class="collapsible">Blockchain graph</button>
<div class="contentCollapsible">
    <div class="panel">
        <div id="blocksDiagramDiv" style="background-color: white; border: solid 1px black; width: 100%; height: 500px">

        </div>
        <p>
            This sample displays a diagram of two trees sharing a single root node growing in opposite directions.
            The immediate child data of the ROOT node have a "dir" property
            that describes the direction that subtree should grow.
        </p>
    </div>
</div>

<button class="collapsible">Heartbeat</button>
<div class="contentCollapsible">
    <div class="panel">
        <div style="width:100%;">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <canvas id="canvas" style="display: block; width: 673px; height: 336px;" width="673" height="336"
                    class="chartjs-render-monitor"></canvas>
            <button id="reloadData">Reload Data</button>
        </div>
    </div>
</div>


<button class="collapsible">Block Analyser</button>
<div class="contentCollapsible">
    <div class="panel ib">
        <form>
            <input type="input" id="blockid" placeholder="block index"/>
            <input type="button" onClick="loadBlockIntoTreeView()" value="loadBlock"/>
        </form>
        <ul id="treeView">
        </ul>
    </div>
</div>


<button class="collapsible">Settings</button>
<div class="contentCollapsible">
    <div class="panel">
        <form name="settings" id="settings">
            <label for="restapi" class="w200">Rest api :</label>
            <input type="text" id="restapi" class="w400" placeholder="{{site.restapi}}"/>
            <br>
            <label for="ipfsservice" class="w200">IPFS service : </label>
            <input type="text" id="ipfsservice" class="w400" placeholder="{{site.ipfsservice}}"/>
            <br>
            <label for="ipfsbrowser" class="w200">IPFS Browser : </label>
            <input type="text" id="ipfsbrowser" class="w400" placeholder="{{site.ipfsbrowser}}"/>
            <br>
            <label for="userKey" class="w200">User Key : </label>
            <input type="text" id="userKey" class="w400" placeholder="Qm.... cid"/>
            <br>
            <input type="button" name="saveSettings" onclick="saveSettingsToLocalStore()" value="Save"/>

        </form>
    </div>
</div>


</body>

</html>