<button class="collapsible">Cratos</button>
<div class="contentCollapsible" >
    <div class="panel">
        <label for="vote">1 - Vote</label>
        <p>With great power comes great responsibilities</p>
        <form name="vote" id="vote">
            <label for="role">I am</label>
            <select id="role" name="role" onchange="setPermissionsFor()">
                <option>Citizen</option>
            </select>
            <label for="role">and I wish to exercise my right to</label>
            <select id="permission" name="permission" onchange="setVoteValue()">
            </select>
            <div id="cratosMultiValue" class="ib">
                <input type="text" placeholder="..."/>
            </div>

            <input type="button" name="vote" onClick="generalVote()" value="Vote"/>

        </form>

        <label for="amend">2 - Propose an Amendment </label>
        <p>
            <quote>plus l’homme consacrait de temps et de force à l’exercice de ses droits politiques,
                plus il se croyait libre
            </quote>
        </p>
        <form id="amend">
            <label for="amendmentName">Amendment Name: </label>
            <input id="amendmentName" type="text" placeholder="ex: Social Security"/>
            <br>
            <label for="amendmentSubjectMV">Sujet: </label>
            <input type="text" id="amendmentSubjectMV" placeholder="..."/> =>
            <select id="ruleType" name="ruleType">
            </select> =>
            <label for="amendmentObjectMV">Objet: </label><input type="text" id="amendmentObjectMV" placeholder="..."/>
            <br>
            <input type="button" name="amend" onClick="addRule()" value="Add Rule to Amendment"/>
            <div id="amendmentRuleSet"></div>
            <input type="button" name="amend" onClick="clearAmendment()" value="Reset Amendment"/>
            <input type="button" name="amend" onClick="sendAmendment()" value="Propose Amendment"/>
        </form>
    </div>
</div>