
<button class="collapsible">Blockchain graph</button>
<div class="contentCollapsible">
    <div class="panel">
        <div id="blocksDiagramDiv" style="background-color: white; border: solid 1px black; width: 100%; height: 500px">

        </div>
        <p>
            This sample displays a diagram of two trees sharing a single root node growing in opposite directions.
            The immediate child data of the ROOT node have a "dir" property
            that describes the direction that subtree should grow.
        </p>
    </div>
</div>

<button class="collapsible">Heartbeat</button>
<div class="contentCollapsible">
    <div class="panel">
        <div style="width:100%;">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <canvas id="canvas" style="display: block; width: 673px; height: 336px;" width="673" height="336"
                    class="chartjs-render-monitor"></canvas>
            <button id="reloadData" onclick="loadChartData()">Reload Data</button>
        </div>
    </div>
</div>


<button class="collapsible">Block Analyser</button>
<div class="contentCollapsible">
    <div class="panel ib">
        <form>
            <input type="input" id="blockid" placeholder="block index"/>
            <input type="button" onClick="loadBlockIntoTreeView()" value="loadBlock"/>
        </form>
        <ul id="treeView">
        </ul>
    </div>
</div>