
<button class="collapsible">OnBoarding</button>
<div class="contentCollapsible">
    <div class="panel">
        <label for="keygen">1 - (optional) create secure credentials using PGP</label>
        <form name="keyGen" id="keyGen">
            <input type="text" id="name" placeholder="name"/>
            <input type="text" id="comment" placeholder="comment"/>
            <input type="email" id="email" placeholder="email"/>
            <input type="password" name="passphrase" id="passphrase" placeholder="passphrase"/>
            <input type="button" name="createKey" onClick="keygen()" value="Generate PGP Key pair"/>
        </form>
        <p>
            <a href="#" id="pubkeycid" target="_blank">view on IPFS </a>
            <input type="text" id="pubkeycidinput" placeholder="..." class="w400"/>
        </p>
        <label for="createAcc">2 - Register your credential to obtain a basic account</label>
        <form name="createAcc" id="createAcc">
            <textarea id="pubkey" rows="10" cols="72"> -----BEGIN PGP PUBLIC KEY BLOCK----- </textarea>
            <textarea id="privatekey" rows="10" cols="72">-----BEGIN PGP PRIVATE KEY BLOCK-----</textarea>
            <a href="" id="savePrivateKey">Save Key</a>
        </form>
        <label for="claim">3 - Request Citizenship to obtain more Rights</label>
        <form name="claim" id="claim">
            <input type="button" name="claimCitizen" onClick="citizenshipClaim()" value="Claim Citizenship"/>
        </form>
        <p>
        <ul>
            <li>Save your private key using your favourite secure tool - do not disclose</li>
            <li>Public key is stored on chain for signature validation of any content you may produce</li>
            <li>Use IPFS to access your public key. the IPFS cid is stored in chain and becomes your account
                identifier
            </li>
        </ul>
        </p>
    </div>
</div>