<button class="collapsible">Settings</button>
<div class="contentCollapsible"  >
    <div class="panel">
        <form name="settings" id="settings">
            <label for="restapi" class="w200">Rest api :</label>
            <input type="text" id="restapi" class="w400" placeholder="{{site.restapi}}"/>
            <br>
            <label for="ipfsservice" class="w200">IPFS service : </label>
            <input type="text" id="ipfsservice" class="w400" placeholder="{{site.ipfsservice}}"/>
            <br>
            <label for="ipfsbrowser" class="w200">IPFS Browser : </label>
            <input type="text" id="ipfsbrowser" class="w400" placeholder="{{site.ipfsbrowser}}"/>
            <br>
            <label for="userKey" class="w200">User Key : </label>
            <input type="text" id="userKey" class="w400" placeholder="Qm.... cid"/>
            <br>
            <input type="button" name="saveSettings" onclick="saveSettingsToLocalStore()" value="Save"/>

        </form>
    </div>
</div>