
<button class="collapsible">Transaction</button>
<div class="contentCollapsible">
    <div class="panel">
        <div>
            <form id="tx" name="tx">
                <label for="txFrom">From : </label>
                <input list="pkList" name="txFrom" id="txFrom" class="w400">
                <br>
                <label for="txTo">To : </label>
                <input list="pkList" name="txTo" id="txTo" class="w400">
                <br>
                <label for="txAmount">Amount : </label>
                <input type="number" name="txAmount" id="txAmount" min="0">
                <input type="button" name="amend" onClick="txSubmit()" value="Send"/>
                <datalist id="pkList"></datalist>
            </form>

        </div>
        <p>
            This sample displays a diagram of two trees sharing a single root node growing in opposite directions.
            The immediate child data of the ROOT node have a "dir" property
            that describes the direction that subtree should grow.
        </p>
    </div>
</div>